<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xmind.ui.internal.branch.BranchPartPropertyTester"
            id="org.xmind.ui.propertyTester.branchPart"
            namespace="org.xmind.ui.branch"
            properties="type,folded,index,policyId,structureId,hasParent,preferredPosition,property"
            type="org.xmind.ui.mindmap.IBranchPart">
      </propertyTester>
      <propertyTester
            class="org.xmind.ui.internal.mindmap.TopicPropertyTester"
            id="org.xmind.ui.propertyTester.topic"
            namespace="org.xmind.ui.topic"
            properties="type,structureClass"
            type="org.xmind.core.ITopic">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xmind.ui.internal.prefs.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.xmind.ui.internal.editor.FileEditorInputFactory"
            id="org.xmind.ui.WorkbookEditorInputFactory">
      </factory>
   </extension>
</plugin>
