<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.xmind.ui.branchPolicies">
      <structure
            class="org.xmind.ui.internal.spreadsheet.structures.SpreadsheetStructure"
            id="org.xmind.ui.structure.spreadsheet">
      </structure>
      <structure
            class="org.xmind.ui.internal.spreadsheet.structures.RowStructure"
            id="org.xmind.ui.structure.spreadsheet.row">
      </structure>
      <branchPolicy
            defaultStructureId="org.xmind.ui.branchStructure.right"
            icon="icons/spreadsheet.gif"
            id="org.xmind.ui.spreadsheet"
            name="%branchPolicy.spreadsheet.name"
            propertyTesterId="org.xmind.ui.spreasheet.propertyTester">
         <additionalStructures>
            <additionalStructure
                  structureId="org.xmind.ui.structure.spreadsheet">
               <enablement>
                  <or>
                     <not>
                        <with
                              variable="parentBranch">
                        </with>
                     </not>
                     <and>
                        <with
                              variable="topic">
                           <test
                                 property="org.xmind.ui.topic.structureClass"
                                 value="org.xmind.ui.spreadsheet">
                           </test>
                        </with>
                        <with
                              variable="parentBranch">
                           <not>
                              <test
                                    property="org.xmind.ui.branch.structureId"
                                    value="org.xmind.ui.structure.spreadsheet">
                              </test>
                           </not>
                        </with>
                     </and>
                  </or></enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.structure.spreadsheet.row">
               <enablement>
                  <with
                        variable="parentBranch">
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet">
                     </test>
                  </with></enablement>
            </additionalStructure>
         </additionalStructures>
         <override>
               <enablement>
                  <with
                        variable="parentBranch">
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet">
                     </test>
                  </with></enablement>
         </override>
         <unmodifiableProperties>
            <unmodifiableProperty
                  primaryKey="topicFolded">
               <enablement>
                  <with
                        variable="parentBranch">
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet">
                     </test>
                  </with></enablement>
            </unmodifiableProperty>
         </unmodifiableProperties>
         <styleSelector>
            <overridedStyle
                  key="branch-decoration-class"
                  value="org.xmind.ui.spreadsheet.branchDecoration">
               <enablement>
                  <test
                        property="org.xmind.ui.branch.structureId"
                        value="org.xmind.ui.structure.spreadsheet">
                  </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="line-class"
                  value="org.xmind.branchConnection.none">
               <enablement>
                  <or>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet">
                     </test>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet.row">
                     </test>
                  </or>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.ui.spreadsheet.topicShape.head">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.ui.spreadsheet.topicShape.rowHead">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet.row">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.topicShape.noBorder">
               <enablement>
                  <with
                        variable="parentBranch">
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet.row">
                     </test>
                  </with>
               </enablement>
            </overridedStyle>
            <overridedStyle
                  key="svg:fill"
                  value="none">
               <enablement>
                  <and>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet.row">
                     </test>
                     <test
                           args="isAlternativeRow"
                           property="org.xmind.ui.branch.property">
                     </test>
                  </and>
               </enablement>
            </overridedStyle>
            <overridedStyle
                  key="svg:fill"
                  value="#e0e8ff">
               <enablement>
                  <and>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.structure.spreadsheet.row">
                     </test>
                     <test
                           args="isAlternativeRow"
                           property="org.xmind.ui.branch.property"
                           value="false">
                     </test>
                  </and>
               </enablement>
            </overridedStyle>
            <overridedStyle
                  key="svg:fill"
                  value="#ffffff">
               <enablement>
                  <test
                        property="org.xmind.ui.branch.structureId"
                        value="org.xmind.ui.structure.spreadsheet">
                  </test>
               </enablement>
            </overridedStyle>
            <overridedStyle
                  key="hide-children-labels"
                  value="true">
               <enablement>
                  <test
                        property="org.xmind.ui.branch.structureId"
                        value="org.xmind.ui.structure.spreadsheet.row">
                  </test></enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
         </styleSelector>
         <advisor
               class="org.xmind.ui.internal.spreadsheet.SpreadsheetPolicyAdvisor">
               <enablement>
                  <test
                        property="org.xmind.ui.branch.structureId"
                        value="org.xmind.ui.structure.spreadsheet">
                  </test>
               </enablement>
         </advisor>
         <branchHook
               class="org.xmind.ui.internal.spreadsheet.SpreadsheetBranchHook">
            <enablement>
               <test
                     property="org.xmind.ui.branch.structureId"
                     value="org.xmind.ui.structure.spreadsheet">
               </test>
            </enablement>
         </branchHook>
      </branchPolicy>
      <propertyTester
            class="org.xmind.ui.internal.spreadsheet.SpreadsheetPropertyTester"
            id="org.xmind.ui.spreasheet.propertyTester">
      </propertyTester>
   </extension>
   <extension
         point="org.xmind.ui.decorations">
      <decoration
            id="org.xmind.ui.spreadsheet.branchDecoration"
            name="%branchDecoration.spreadsheet.name">
         <factory
               class="org.xmind.ui.internal.spreadsheet.decorations.SpreadsheetBranchDecorationFactory">
         </factory>
      </decoration>
      <decoration
            id="org.xmind.ui.spreadsheet.topicShape.head"
            name="%topicShape.spreadsheet.title.name">
         <class
               class="org.xmind.ui.internal.spreadsheet.decorations.HeadTopicDecoration">
         </class>
      </decoration>
      <decoration
            id="org.xmind.ui.spreadsheet.topicShape.rowHead"
            name="%topicShape.spreradsheet.row.name">
         <factory
               class="org.xmind.ui.internal.spreadsheet.decorations.RowHeadTopicDecorationFactory">
         </factory>
      </decoration>
   </extension>
   <extension
         point="org.xmind.ui.iconTips">
      <iconTip
            contributorClass="org.xmind.ui.internal.spreadsheet.AddColumnIconTipContributor"
            icon="icons/add_column.gif"
            id="org.xmind.ui.spreadsheet.AddColumnIconTip"
            label="%iconTip.addColumn.label"
            tooltip="%iconTip.addColumn.tooltip">
      </iconTip>
   </extension>
   <extension
         point="org.xmind.ui.tools">
      <tool
            class="org.xmind.ui.internal.spreadsheet.ColumnHeadEditTool"
            contextId="org.xmind.ui.context.mindmap.textEdit"
            id="org.xmind.ui.spreadsheet.tool.columnHeadEditTool">
      </tool>
      <tool
            class="org.xmind.ui.internal.spreadsheet.ColumnMoveTool"
            id="org.xmind.ui.spreadsheet.tool.moveColumn">
      </tool>
   </extension>

</plugin>
