<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="org.xmind.core.internal.sharing.HandshakeCommandHandler"
            command="^sharing/handshake$"
            id="org.xmind.ui.sharing.handshakeHandler">
      </handler>
      <handler
            class="org.xmind.core.internal.sharing.FileContentCommandHandler"
            command="^sharing/file/([^/]+)$"
            id="org.xmind.ui.sharing.fileHandler">
      </handler>
      <handler
            class="org.xmind.core.internal.sharing.SharingEventCommandHandler"
            command="^sharing/event/([^/]+)$"
            id="org.xmind.ui.sharing.eventHandler">
      </handler>
   </extension>

</plugin>
