<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.xmind.ui.commands"
            description="%command.signIn.description"
            id="net.xmind.ui.command.signin"
            name="%command.signIn.name">
      </command>
      <command
            categoryId="net.xmind.ui.commands"
            description="%command.showAccount.description"
            id="net.xmind.ui.command.showMyAccount"
            name="%command.showAccount.name">
      </command>
      <command
            categoryId="net.xmind.ui.commands"
            description="%command.checkForUpdates.description"
            id="net.xmind.ui.command.checkForUpdates"
            name="%command.checkForUpdates.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.xmind.ui.actions.help"
            label="%actionSet.xmindnet.label"
            visible="true">
         <action
               class="net.xmind.workbench.internal.actions.ShowAccountActionDelegate"
               definitionId="net.xmind.ui.command.showMyAccount"
               id="net.xmind.ui.showMyAccount"
               label="%action.showAccount.label"
               menubarPath="help/additions"
               style="push"
               tooltip="%action.showAccount.tooltip">
         </action>
         <action
               class="net.xmind.workbench.internal.actions.SignInActionDelegate"
               definitionId="net.xmind.ui.command.signin"
               id="net.xmind.ui.signin"
               label="%action.signIn.label"
               menubarPath="help/additions"
               style="push"
               tooltip="%action.signIn.tooltip">
         </action>
         <action
               class="net.xmind.workbench.internal.actions.NewsletterSubscriptionActionDelegate"
               id="net.xmind.ui.subscribeNewsletter"
               label="%action.subscribeToNewsletter.label"
               menubarPath="help/group.xmind"
               style="push"
               tooltip="%action.subscribeToNewsletter.tooltip">
         </action>
         <action
               class="net.xmind.workbench.internal.actions.FeedbackActionDelegate"
               id="net.xmind.ui.feedback"
               label="%action.feedback.label"
               menubarPath="help/group.xmind"
               style="push"
               tooltip="%action.feedback.tooltip">
         </action>
         <action
               class="net.xmind.workbench.internal.actions.WelcomeActionDelegate"
               id="net.xmind.ui.welcome"
               label="%action.welcome.label"
               menubarPath="help/group.welcome"
               style="push"
               tooltip="%action.welcome.tooltip">
         </action>
         <action
               class="net.xmind.workbench.internal.actions.CheckForUpdatesActionDelegate"
               definitionId="net.xmind.ui.command.checkForUpdates"
               id="net.xmind.ui.checkForUpdates"
               label="%action.checkForUpdates.label"
               menubarPath="help/group.updates"
               style="push"
               tooltip="%action.checkForUpdates.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.xmind.workbench.internal.XMindNetWorkbenchServiceCenter">
      </startup>
   </extension>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="net.xmind.workbench.internal.CheckForUpdatesCommandHandler"
            id="org.xmind.ui.xmindCommandHandler.checkForUpdates"
            command="^checkForUpdates$">
      </handler>
   </extension>

</plugin>
