<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.xmind.ui.views.resources"
            class="org.xmind.ui.internal.sharing.SharedLibrariesView"
            icon="icons/localnetwork.gif"
            id="org.xmind.ui.LocalNetworkSharingView"
            name="%view.LocalNetworkSharing.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.xmind.ui.internal.sharing.SharingServiceLauncher">
      </startup>
   </extension>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="org.xmind.ui.internal.sharing.ShowMessageCommandHandler"
            command="^sharing/message$"
            id="org.xmind.ui.sharing.showMessage">
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.ShowConnectionCommandHandler"
            command="^sharing/connection$"
            id="showConnectionCommandHandler">
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.ShowConnectionResultCommandHandler"
            command="^sharing/connectionResult$"
            id="showConnectionResultCommandHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xmind.ui.internal.sharing.LocalNetworkSharingPrefPage"
            id="org.xmind.ui.LocalNetworkSharingPrefPage"
            name="%preferencePage.LocalNetworkSharing.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.xmind.ui.category.mindmap"
            defaultHandler="org.xmind.ui.internal.sharing.ShareLocalFilesHandler"
            description="%command.shareLocalFiles.description"
            id="org.xmind.ui.command.sharing.localnetwork.shareLocalMaps"
            name="%command.shareLocalFiles.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.shareOpenedFile.description"
            id="org.xmind.ui.command.sharing.localnetwork.shareOpenedMap"
            name="%command.shareOpenedFile.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.shareLibraryMap.description"
            id="org.xmind.ui.command.sharing.localnetwork.shareLibraryMap"
            name="%command.shareLibraryMap.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            defaultHandler="org.xmind.ui.internal.sharing.ActivateSharingServiceHandler"
            description="%command.goOnlineForLocalNetworkSharing.description"
            id="org.xmind.ui.command.sharing.localnetwork.enableService"
            name="%command.goOnlineForLocalNetworkSharing.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            defaultHandler="org.xmind.ui.internal.sharing.DeactivateSharingServiceHandler"
            description="%command.goOfflineForLocalNetworkSharing.description"
            id="org.xmind.ui.command.sharing.localnetwork.disableService"
            name="%command.goOfflineForLocalNetworkSharing.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.openSharedMap.description"
            id="org.xmind.ui.command.sharing.localnetwork.openSharedMap"
            name="%command.openSharedMap.name">
      </command>
      <command
            description="%command.saveRemoteSharedMap.description"
            id="org.xmind.ui.command.sharing.localnetwork.saveRemoteSharedMap"
            name="%command.saveRemoteSharedMap.name">
      </command>
      <command
            categoryId="org.xmind.ui.category.mindmap"
            description="%command.sendMessageForSharedMaps.description"
            id="org.xmind.ui.command.sharing.localnetwork.sendSharingMessage"
            name="%command.sendMessageForSharedMaps.name">
      </command>
      <command
            defaultHandler="org.xmind.ui.internal.sharing.ArrangementRadioHandler"
            description="%command.arrangeMaps.description"
            id="org.xmind.ui.command.sharing.localnetwork.arrangeMaps"
            name="%command.arrangeMaps.name">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="%command.radioStateParameter.name"
               optional="false">
         </commandParameter>
         <state
               class="org.eclipse.ui.handlers.RadioState:people"
               id="org.eclipse.ui.commands.radioState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.xmind.ui.command.sharing.localnetwork.shareLocalMaps"
            icon="icons/add.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.xmind.ui.LocalNetworkSharingView">
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.shareLocalMaps"
               label="%command.shareLocalFiles.inViewToolBar.name"
               style="push"
               tooltip="%command.shareLocalFiles.inViewToolBar.tooltip">
         </command>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.arrangeMaps"
               icon="icons/arrangement.gif"
               id="org.xmind.ui.menus.sharing.localnetwork.arrangeMaps"
               label="%command.arrangeMaps.inViewToolBar.tooltip"
               style="pulldown"
               tooltip="%command.arrangeMaps.inViewToolBar.tooltip">
         </command>
         <separator
               name="org.xmind.ui.group.edit"
               visible="true">
         </separator>
         <separator
               name="org.xmind.ui.group.navigate"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push"
               tooltip="%command.collapseAll.inViewToolBar.tooltip">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.xmind.ui.LocalNetworkSharingView">
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.openSharedMap"
               label="%command.openSharedMaps.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.saveRemoteSharedMap"
               label="%command.saveRemoteSharedMap.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.shareLibraryMap"
               label="%command.shareLibraryMap.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <!--
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.sendSharingMessage"
               label="%command.sendMessageForSharedMaps.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         -->
         <separator
               name="org.xmind.ui.group.edit"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.delete.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="org.xmind.ui.group.navigate"
               visible="true">
         </separator>
         <separator
               name="org.xmind.ui.group.new"
               visible="true">
         </separator>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.shareLocalMaps"
               label="%command.shareLocalFiles.inViewPopupMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="!">
                  </count>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.shareOpenedMap"
               id="org.xmind.ui.sharing.shareOpenedMap"
               label="%command.shareOpenedFile.inMainMenu.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.xmind.ui.statusbar?endof=END_GROUP">
         <control
               class="org.xmind.ui.internal.sharing.SharingServiceStatusItem"
               id="org.xmind.ui.sharing.localnetwork.statusIndicator">
         </control>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.xmind.ui.menus.sharing.localnetwork.arrangeMaps">
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.arrangeMaps"
               id="org.xmind.ui.sharing.localnetwork.arrangeMaps.people"
               label="%command.arrangeMaps.people.label"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="people">
            </parameter>
         </command>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.arrangeMaps"
               id="org.xmind.ui.sharing.localnetwork.arrangeMaps.name"
               label="%command.arrangeMaps.fileName.label"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="name">
            </parameter>
         </command>
         <command
               commandId="org.xmind.ui.command.sharing.localnetwork.arrangeMaps"
               id="org.xmind.ui.sharing.localnetwork.arrangeMaps.time"
               label="%command.arrangeMaps.lastUpdateTime.label"
               style="radio">
            <parameter
                  name="org.eclipse.ui.commands.radioStateParameter"
                  value="time">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.ui.internal.sharing.ShareOpenedFileHandler"
            commandId="org.xmind.ui.command.sharing.localnetwork.shareOpenedMap">
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.xmind.ui.MindMapEditor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.ShareLibraryMapHandler"
            commandId="org.xmind.ui.command.sharing.localnetwork.shareLibraryMap">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.xmind.core.sharing.ILocalSharedMap">
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.OpenSharedMapsHandler"
            commandId="org.xmind.ui.command.sharing.localnetwork.openSharedMap">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.core.sharing.ISharedMap">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.SaveRemoteSharedMapHandler"
            commandId="org.xmind.ui.command.sharing.localnetwork.saveRemoteSharedMap">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <adapt
                        type="org.xmind.core.sharing.ISharedMap">
                  </adapt>
               </iterate>
               <count
                     value="1">
               </count>
               <not>
                  <iterate>
                     <adapt
                           type="org.xmind.core.sharing.ILocalSharedMap">
                     </adapt>
                  </iterate>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.SendSharingMessageHandler"
            commandId="org.xmind.ui.command.sharing.localnetwork.sendSharingMessage">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.core.sharing.ILocalSharedMap">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.CopySharedMapsHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.core.sharing.ISharedMap">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.PasteAsSharedMapsHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.xmind.ui.LocalNetworkSharingView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.CollapseAllSharedLibrariesHandler"
            commandId="org.eclipse.ui.navigate.collapseAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.xmind.ui.LocalNetworkSharingView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.ExpandAllSharedLibrariesHandler"
            commandId="org.eclipse.ui.navigate.expandAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.xmind.ui.LocalNetworkSharingView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.xmind.ui.internal.sharing.DeleteSharedMapsHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.core.sharing.ILocalSharedMap">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.xmind.ui.mindMapEditorConfigurer">
      <configurer
            class="org.xmind.ui.internal.sharing.MindMapEditorSharingStatusContributor"
            id="org.xmind.ui.sharing.MindMapEditorSharingStatusContributor">
      </configurer>
   </extension>

</plugin>
