<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.xmind.cathy.internal.CathyApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.xmind.cathy.application"
            name="%productName">
         <property
               name="windowImages"
               value="icons/xmind.16.png,icons/xmind.32.png,icons/xmind.48.png,icons/xmind.64.png,icons/xmind.128.png,icons/xmind.256.png"/>
         <property
               name="appName"
               value="%productName">
         </property>
         <!--
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         -->
          <property
          		name="introTitle"
          		value="Welcome to XMind 2013"/>
          <property
          		name="introBrandingImage"
          		value="product:icons/introimage.png"/>
          <property
          		name="introBrandingImageText"
          		value="XMind 2013"/>
		  <property
				name="introDescription-overview"
				value=""/>
		  <property
				name="introDescription-tutorials"
				value=""/>
		  <property
				name="introDescription-samples"
				value=""/>
          <property
                name="aboutImage"
                value="icons/about.png">
	      </property>
          <property name="aboutText" value="%productBlurb">
          </property> 
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xmind.cathy.internal.CathyPrefInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xmind.cathy.internal.GeneralPrefPage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="%prefPage.general.name">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.eclipse.ui.preferencePages.Keys"
            name="%prefPage.keys.name">
         <keywordReference id="org.eclipse.ui.ide.keys"/>
      </page>
      <!--
      <page
            name="%prefPage.appearance.name"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts">
      </page>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/views/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="%view.progress.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.window.showKeyAssist"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+L">
      </key>
      <key
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
      <key
            commandId="org.xmind.ui.command.newWorkbookWizard"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.xmind.cathy.internal.AutoSaveService">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.cathy.internal.ShowAllPreferencesHandler"
            commandId="org.eclipse.ui.window.preferences">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.xmind.core.command.handlers">
      <handler
            class="org.xmind.cathy.internal.OpenFileCommandHandler"
            id="org.xmind.ui.xmindCommandHandler.openFile"
            command="^openFile$">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.xmind.ui.statusbar?endof=END_GROUP">
         <control
               class="org.xmind.cathy.internal.AutoBackupIndicator"
               id="org.xmind.ui.status.AutoSaveIndicator">
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandlerProductBinding
            handlerId="org.xmind.ui.statusHandler"
            productId="org.xmind.cathy.product">
      </statusHandlerProductBinding>
   </extension>
</plugin>
