<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xmind.core.command.remote.domains">
      <serviceFactory
            class="org.xmind.core.internal.command.remote.lan.LANCommandServerFactory"
            id="org.xmind.core.command.remote.lan.commandServerFactory">
      </serviceFactory>
      <serviceFactory
            class="org.xmind.core.internal.command.remote.lan.LANDiscoveryServiceFactory"
            id="org.xmind.core.command.remote.lan.discoveryServiceFactory">
      </serviceFactory>
      <domain
            advertiser="org.xmind.core.command.remote.lan.discoveryServiceFactory"
            discoverer="org.xmind.core.command.remote.lan.discoveryServiceFactory"
            id="org.xmind.core.command.remote.domains.lan"
            name="%local.area.name"
            server="org.xmind.core.command.remote.lan.commandServerFactory">
      </domain>
   </extension>
</plugin>
