<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.xmind.ui.branchPolicies">
      <branchPolicy
            defaultStructureId="org.xmind.ui.fishbone.structure.leftHeaded"
            icon="icons/fishbone_left.gif"
            id="org.xmind.ui.fishbone.leftHeaded"
            name="%branchPolicy.fishbone.leftHeaded.name"
            propertyTesterId="org.xmind.ui.FishbonePropertyTester">
         <additionalStructures>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.NE.rotated">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.leftHeaded">
                        </test>
                     </with>
                     <or>
                        <with
                              variable="parentBranch">
                           <test
                                 property="org.xmind.ui.branch.structureId"
                                 value="org.xmind.ui.fishbone.structure.NE.normal">
                           </test>
                        </with>
                        <and>
                           <with
                                 variable="parentBranch">
                              <test
                                    property="org.xmind.ui.branch.structureId"
                                    value="org.xmind.ui.fishbone.structure.leftHeaded">
                              </test>
                           </with>
                           <test
                                 args="upwards"
                                 property="org.xmind.ui.branch.property">
                           </test>
                        </and>
                     </or>
                </enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.NE.normal">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.leftHeaded">
                        </test>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.NE.rotated">
                        </test>
                     </with>
               </enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.SE.rotated">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.leftHeaded">
                        </test>
                     </with>
                     <or>
                        <with
                              variable="parentBranch">
                           <test
                                 property="org.xmind.ui.branch.structureId"
                                 value="org.xmind.ui.fishbone.structure.SE.normal">
                           </test>
                        </with>
                        <and>
                           <with
                                 variable="parentBranch">
                              <test
                                    property="org.xmind.ui.branch.structureId"
                                    value="org.xmind.ui.fishbone.structure.leftHeaded">
                              </test>
                           </with>
                           <test
                                 value="false"
                                 args="upwards"
                                 property="org.xmind.ui.branch.property">
                           </test>
                        </and>
                     </or></enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.SE.normal">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.leftHeaded">
                        </test>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.SE.rotated">
                        </test>
                     </with></enablement>
            </additionalStructure>
         </additionalStructures>
         <branchHook
               class="org.xmind.ui.internal.fishbone.structures.FishboneBranchHook">
         </branchHook>
         <styleSelector>
            <overridedStyle
                  key="rotate-angle"
                  value="-70">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.NE.rotated">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="rotate-angle"
                  value="-110">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.SE.rotated">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.topicShape.fishhead.left">
               <layer
                     name="beforeDefaultValue">
               </layer>
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.leftHeaded">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.topicShape.fishbone">
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.leftHeaded">
                        </test>
                     </not>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="line-class"
                  value="org.xmind.branchConnection.fishbone">
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="branch-decoration-class"
                  value="org.xmind.ui.branchDecoration.fishbone.main">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.leftHeaded">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="branch-decoration-class"
                  value="org.xmind.ui.branchDecoration.fishbone.sub">
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.leftHeaded">
                        </test>
                     </not>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <!-- overridedStyle
                  key="svg:fill"
                  value="none">
               <layer
                     name="beforeParentValue">
               </layer>
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.leftHeaded">
                        </test>
                     </not>
               </enablement>
            </overridedStyle -->
         </styleSelector>
      </branchPolicy>
      <branchPolicy
            defaultStructureId="org.xmind.ui.fishbone.structure.rightHeaded"
            icon="icons/fishbone_right.gif"
            id="org.xmind.ui.fishbone.rightHeaded"
            name="%branchPolicy.fishbone.rightHeaded.name"
            propertyTesterId="org.xmind.ui.FishbonePropertyTester">
         <additionalStructures>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.NW.rotated">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.rightHeaded">
                        </test>
                     </with>
                     <or>
                        <with
                              variable="parentBranch">
                           <test
                                 property="org.xmind.ui.branch.structureId"
                                 value="org.xmind.ui.fishbone.structure.NW.normal">
                           </test>
                        </with>
                        <and>
                           <with
                                 variable="parentBranch">
                              <test
                                    property="org.xmind.ui.branch.structureId"
                                    value="org.xmind.ui.fishbone.structure.rightHeaded">
                              </test>
                           </with>
                           <test
                                 args="upwards"
                                 property="org.xmind.ui.branch.property">
                           </test>
                        </and>
                     </or></enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.NW.normal">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.rightHeaded">
                        </test>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.NW.rotated">
                        </test>
                     </with></enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.SW.rotated">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.rightHeaded">
                        </test>
                     </with>
                     <or>
                        <with
                              variable="parentBranch">
                           <test
                                 property="org.xmind.ui.branch.structureId"
                                 value="org.xmind.ui.fishbone.structure.SW.normal">
                           </test>
                        </with>
                        <and>
                           <with
                                 variable="parentBranch">
                              <test
                                    property="org.xmind.ui.branch.structureId"
                                    value="org.xmind.ui.fishbone.structure.rightHeaded">
                              </test>
                           </with>
                           <test
                                 value="false"
                                 args="upwards"
                                 property="org.xmind.ui.branch.property">
                           </test>
                        </and>
                     </or></enablement>
            </additionalStructure>
            <additionalStructure
                  structureId="org.xmind.ui.fishbone.structure.SW.normal">
               <enablement>
                     <with
                           variable="parentBranch">
                        <test
                              property="org.xmind.ui.branch.policyId"
                              value="org.xmind.ui.fishbone.rightHeaded">
                        </test>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.SW.rotated">
                        </test>
                     </with></enablement>
            </additionalStructure>
         </additionalStructures>
         <branchHook
               class="org.xmind.ui.internal.fishbone.structures.FishboneBranchHook">
         </branchHook>
         <styleSelector>
            <overridedStyle
                  key="rotate-angle"
                  value="70">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.NW.rotated">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="rotate-angle"
                  value="110">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.SW.rotated">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.topicShape.fishhead.right">
               <layer
                     name="beforeDefaultValue">
               </layer>
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.rightHeaded">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="shape-class"
                  value="org.xmind.topicShape.fishbone">
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.rightHeaded">
                        </test>
                     </not>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="line-class"
                  value="org.xmind.branchConnection.fishbone">
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="branch-decoration-class"
                  value="org.xmind.ui.branchDecoration.fishbone.main">
               <enablement>
                     <test
                           property="org.xmind.ui.branch.structureId"
                           value="org.xmind.ui.fishbone.structure.rightHeaded">
                     </test>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <overridedStyle
                  key="branch-decoration-class"
                  value="org.xmind.ui.branchDecoration.fishbone.sub">
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.rightHeaded">
                        </test>
                     </not>
               </enablement>
               <layer
                     name="beforeUserValue">
               </layer>
            </overridedStyle>
            <!-- overridedStyle
                  key="svg:fill"
                  value="none">
               <layer
                     name="beforeParentValue">
               </layer>
               <enablement>
                     <not>
                        <test
                              property="org.xmind.ui.branch.structureId"
                              value="org.xmind.ui.fishbone.structure.rightHeaded">
                        </test>
                     </not>
               </enablement>
            </overridedStyle -->
         </styleSelector>
      </branchPolicy>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.LeftHeadedStructure"
            id="org.xmind.ui.fishbone.structure.leftHeaded">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.RightHeadedStructure"
            id="org.xmind.ui.fishbone.structure.rightHeaded">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.NERotatedStructure"
            id="org.xmind.ui.fishbone.structure.NE.rotated">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.NENormalStructure"
            id="org.xmind.ui.fishbone.structure.NE.normal">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.SERotatedStructure"
            id="org.xmind.ui.fishbone.structure.SE.rotated">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.SENormalStructure"
            id="org.xmind.ui.fishbone.structure.SE.normal">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.NWRotatedStructure"
            id="org.xmind.ui.fishbone.structure.NW.rotated">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.NWNormalStructure"
            id="org.xmind.ui.fishbone.structure.NW.normal">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.SWRotatedStructure"
            id="org.xmind.ui.fishbone.structure.SW.rotated">
      </structure>
      <structure
            class="org.xmind.ui.internal.fishbone.structures.SWNormalStructure"
            id="org.xmind.ui.fishbone.structure.SW.normal">
      </structure>
      <propertyTester
            class="org.xmind.ui.internal.fishbone.FishbonePropertyTester"
            id="org.xmind.ui.FishbonePropertyTester">
      </propertyTester>
   </extension>
   <extension
         point="org.xmind.ui.decorations">
      <decoration
            categoryId="org.xmind.ui.topicDecorations"
            icon="icons/shape_fishhead_left.gif"
            id="org.xmind.topicShape.fishhead.left"
            name="%topicShape.fishhead.left.name">
         <class
               class="org.xmind.ui.internal.fishbone.decorations.LeftFishheadTopicDecoration">
         </class>
      </decoration>
      <decoration
            categoryId="org.xmind.ui.topicDecorations"
            icon="icons/shape_fishhead_right.gif"
            id="org.xmind.topicShape.fishhead.right"
            name="%topicShape.fishhead.right.name">
         <class
               class="org.xmind.ui.internal.fishbone.decorations.RightFishheadTopicDecoration">
         </class>
      </decoration>
      <decoration
            id="org.xmind.topicShape.fishbone"
            name="%topicShape.fishbone.name">
         <class
               class="org.xmind.ui.internal.fishbone.decorations.FishboneTopicDecoration">
         </class>
         <defaultValue
               key="svg:fill"
               value="none">
         </defaultValue>
      </decoration>
      <decoration
            id="org.xmind.branchConnection.fishbone"
            name="%branchConnection.fishbone.name">
         <factory
               class="org.xmind.ui.internal.fishbone.decorations.FishboneBranchConnectionFactory">
         </factory>
      </decoration>
      <decoration
            id="org.xmind.ui.branchDecoration.fishbone.main"
            name="%branchDecoration.fishbone.main.name">
         <factory
               class="org.xmind.ui.internal.fishbone.decorations.MainFishboneBranchDecorationFactory">
         </factory>
      </decoration>
      <decoration
            id="org.xmind.ui.branchDecoration.fishbone.sub"
            name="%branchDecoration.fishbone.sub.name">
         <factory
               class="org.xmind.ui.internal.fishbone.decorations.SubFishboneBranchDecorationFactory">
         </factory>
      </decoration>
   </extension>

</plugin>
