<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.xmind.core.IAdaptable"
            class="org.xmind.core.internal.factory.CoreAdapterFactory">
         <adapter
               type="org.xmind.core.IWorkbook">
         </adapter>
         <adapter
               type="org.xmind.core.style.IStyleSheet">
         </adapter>
         <adapter
               type="org.xmind.core.marker.IMarkerSheet">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xmind.core.internal.TopicPropertyTester"
            id="org.xmind.core.propertyTester.topic"
            namespace="org.xmind.core.topic"
            properties="type,structureClass"
            type="org.xmind.core.ITopic">
      </propertyTester>
      <propertyTester
            class="org.xmind.core.internal.StylePropertyTester"
            id="org.xmind.core.propertyTester.style"
            namespace="org.xmind.core.style"
            properties="id,type,name,group"
            type="org.xmind.core.style.IStyle">
      </propertyTester>
   </extension>

</plugin>
