<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.xmind.ui.properties.PropertyEditingEntryPropertyTester"
            id="org.xmind.ui.propertyTester.propertyEditingEntry"
            namespace="org.xmind.ui.properties.editingEntry"
            properties="editable,resettable,isPropertySet"
            type="org.xmind.ui.properties.IPropertyEditingEntry">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.xmind.ui.expression.selectionContainsPropertyEditingEntries">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.ui.properties.IPropertyEditingEntry">
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="org.xmind.ui.expression.selectionContainsEditablePropertyEditingEntries">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.ui.properties.IPropertyEditingEntry">
                     <test
                           property="org.xmind.ui.properties.editingEntry.editable">
                     </test>
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="org.xmind.ui.expression.selectionContainsResettablePropertyEditingEntries">
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.xmind.ui.properties.IPropertyEditingEntry">
                     <test
                           property="org.xmind.ui.properties.editingEntry.resettable">
                     </test>
                  </adapt>
               </iterate>
            </with>
      </definition>
      <definition
            id="org.xmind.ui.expression.selectionContainsPropertySetPropertyEditingEntries">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.xmind.ui.properties.IPropertyEditingEntry">
                  <test
                        property="org.xmind.ui.properties.editingEntry.isPropertySet">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="org.xmind.ui.color.PropertiesEditor.background"
            isEditable="false"
            label="%theme.PropertiesEditor.backgroundColor"
            value="COLOR_LIST_BACKGROUND">
      </colorDefinition>
      <colorDefinition
            id="org.xmind.ui.color.PropertiesEditor.categoryTitle.foreground"
            isEditable="false"
            label="%theme.PropertiesEditor.CategoryTitle.foregroundColor"
            value="COLOR_LIST_FOREGROUND">
      </colorDefinition>
      <fontDefinition
            defaultsTo="org.eclipse.jface.headerfont"
            id="org.xmind.ui.font.PropertiesEditor.categoryTitle"
            isEditable="false"
            label="%theme.PropertiesEditor.CategoryTitle.font">
      </fontDefinition>
      <colorDefinition
            id="org.xmind.ui.color.PropertiesEditor.entry.foreground"
            isEditable="false"
            label="%theme.PropertiesEditor.EditingEntry.foregroundColor"
            value="COLOR_WIDGET_FOREGROUND">
      </colorDefinition>
      <fontDefinition
            id="org.xmind.ui.font.PropertiesEditor.entry"
            isEditable="false"
            label="%theme.PropertiesEditor.EditingEntry.font">
      </fontDefinition>
      <colorDefinition
            id="org.xmind.ui.color.PropertiesEditor.entry.selected.background"
            isEditable="false"
            label="%theme.PropertiesEditor.EditingEntry.Selected.backgroundColor"
            value="COLOR_LIST_SELECTION">
      </colorDefinition>
      <colorDefinition
            id="org.xmind.ui.color.PropertiesEditor.entry.selected.foreground"
            isEditable="false"
            label="%theme.PropertiesEditor.EditingEntry.Selected.foregroundColor"
            value="COLOR_LIST_SELECTION_TEXT">
      </colorDefinition>
      <fontDefinition
            id="org.xmind.ui.font.PropertiesEditor.entry.selected"
            isEditable="false"
            label="%theme.PropertiesEditor.EditingEntry.Selected.font">
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.resetPropertyValue.description"
            id="org.xmind.ui.command.properties.reset"
            name="%command.resetPropertyValue.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.xmind.ui.internal.handlers.ResetPropertyHandler"
            commandId="org.xmind.ui.command.properties.reset">
         <activeWhen>
            <reference
                  definitionId="org.xmind.ui.expression.selectionContainsPropertyEditingEntries">
            </reference>
         </activeWhen>
         <enabledWhen>
            <and>
               <reference
                     definitionId="org.xmind.ui.expression.selectionContainsEditablePropertyEditingEntries">
               </reference>
               <reference
                     definitionId="org.xmind.ui.expression.selectionContainsResettablePropertyEditingEntries">
               </reference>
               <reference
                     definitionId="org.xmind.ui.expression.selectionContainsPropertySetPropertyEditingEntries">
               </reference>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.xmind.ui.internal.statushandlers.CathyStatusHandler"
            id="org.xmind.ui.statusHandler">
      </statusHandler>
   </extension>

</plugin>
